* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

body > header {
    position: fixed;
    width: 100%;
    background-color: #27ae60;
    z-index: 1;
    margin: auto;
    box-shadow: 0 0 5px black;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    max-width: 1000px;
    margin: 20px auto 20px auto;
}

nav {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

nav ul li {
    display: inline-block;
    margin-bottom: 9px
}

nav ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #2ecc71;
    color: white;
}

nav ul li:hover {
    background-color: #2ecc71;
}

section {
    width: 90%;
    min-width: 500px;
    position: relative;
    top: 120px;
    margin-bottom: 50px;
    background-color: #fff;
    max-width: 1000px;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
}

section h2 {
    padding: 10px;
    padding-left: 20px;
    background-color: #2ecc71;
    color: rgba(255, 255, 255, 0.8);
}

section img {
    margin: 10px;
    width: 50%;
    float: right;
    display: inline-block;
}

section h3 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    color: #2ecc71;
    font-style: italic;
}

section p {
    font-size: 0.9em;
    margin-left: 10px;
    color: dimgray;
}

section ul,
section ol {
    font-size: 0.9em;
    margin-left: 30px;
    color: dimgray;
    margin-right: 20px;
}

section ul {
    list-style-type: square;
}

footer {
    width: 100%;
    display: block;
    background-color: #333333;
    position: relative;
    top: 100px;
    padding: 30px;
}

footer p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);

}
